[Service]
ExecStart=/home/pi/telegraph-web/bin/rails server --port 80 --environment production
User=pi
Restart=always

Requires=redis-server.service
After=redis-server.service

[Install]
WantedBy=multi-user.target
